.background{
  height: 680px;
  width: 1205px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top:20px;
  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
}
.background2{
  height: 680px;
  width: 1205px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top:20px;
  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
}
.fade{
  opacity:0.0;
}
.fadeCat{
  opacity:0.0;
}
.background2{
  height: 680px;
  width: 1205px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top:20px;
  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
  opacity:1;
}
.haiLy{
  width: 140px;
  height: auto;
  right:0;
  bottom:0;
  position: absolute;
  display: none;
}
.haiLy2{
  width: 217px;
  height: auto;
  margin-top:450px;
  margin-left: 996px;
  position: absolute;
}
.haiLy3{
  width: 217px;
  height: auto;
  margin-top:450px;
  margin-left: 989px;
  position: absolute;
  display: none;
}
.haiLy4{
  width: 203px;
  height: auto;
  margin-top:448px;
  margin-left: 1003px;
  position: absolute;
  display: none;
}

.cat-wrapper{
  height:350px;
}
.cat{
  width:168px;
  margin-left: 500px;
  margin-top:60px;
  margin-bottom: 0px;
}
.cat-animation{
  width:168px;
  margin-left: 500px;
  margin-top:60px;
  margin-bottom: -20px;
  animation-name: example;
  animation-duration: 0.4s;
}
@keyframes example {
  0%   {width:168px;}
  50%  {width:180px; margin-left:496px; margin-top:51px;}
  100% {width:168px;}
}
.car{
  width: 100px;
  margin-top: 20px;
  margin-left: 255px;
  animation-name: car;
  animation-duration: 5s;
  overflow: hidden;
}
@keyframes car {
  0%   {margin-left:255px;}
  30%   {margin-left:255px;}
  100% {margin-left:400px;}
}

.cabinet{
  width: 488px;
  height: 150px;
  margin-left: 342px;
}
.target{
  display: inline-block;
  width: 200px;
  height: 120px;
}
.a-word{
  width:81px;
  margin-top:-105px;
}
.t-word{
  width:66px;
  margin-left: 80px;
  margin-top:-123px;
}
.animation{
  width:600px;
  height: 100px;
  background-color: hotpink;
}
.animation-child{
  width:30px;
  height: 30px;
  background:greenyellow;
  transition: color 0.6s;
}

.start{
  width: 1207px;
  height: 682px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top:-620px;
  /* border-radius: 100px; */
}
.carpet{
  width: 700px;
  height: 110px;
  margin-left: 240px;
  margin-top:10px;
}
.c-move{
  width: 70px;
  margin-left: 25px;
  margin-top:10px;
  animation-name: c-animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  display: none;
}
@keyframes c-animation {
  0%   {}
  25% {
    margin-left: 30px;
    margin-top: 4px;
  }
  50% {
    margin-left: 20px;
    margin-top: -3px;
  }
  75% {
    margin-left: 37px;
    margin-top: 5px;
  }
  100% {}
}

.d-animation{
  width: 65px;
  margin-left: 60px;
  animation-name: d-animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  display: none;
}
@keyframes d-animation {
  0%   {}
  25% {
    margin-left: 65px;
    margin-top: 4px;
  }
  50% {
    margin-left: 72px;
    margin-top: -2px;
  }
  75% {
    margin-left: 69px;
    margin-top: 1px;
  }
  100% {}
}
.f-animation{
  width: 65px; 
  margin-left: 140px;
  animation-name: f-animation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  display: none;
}
@keyframes f-animation {
  0%   {}
  25% {
    margin-left: 143px;
    margin-top: 4px;
  }
  50% {
    margin-left: 138px;
    margin-top: -2px;
  }
  75% {
    margin-left: 144px;
    margin-top: 1px;
  }
  100% {}
}
.target .c-move{
  margin-left: 60px;
  margin-top: 23px;
  animation-name: x;
}
/* bug */
.bug{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
}
.bug-animation{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
  animation-name: bug;
  animation-duration: 0.4s;
}
@keyframes bug {
  0%   {width:218px;}
  50%  {width:234px; margin-left:495px; margin-top:65px;}
  100% {width:218px;}
}
.f-bug{
  width: 65px; 
  margin-left: 140px;
  animation-name: f-bug;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes f-bug {
  0%   {}
  25% {
    margin-left: 143px;
    margin-top: 4px;
  }
  50% {
    margin-left: 138px;
    margin-top: -2px;
  }
  75% {
    margin-left: 144px;
    margin-top: 1px;
  }
  100% {}
}
.w-bug{
  width: 95px;
  margin-left: 30px;
  animation-name: w-bug;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes w-bug {
  0%   {}
  25% {
    margin-left: 35px;
    margin-top: 4px;
  }
  50% {
    margin-left: 32px;
    margin-top: -2px;
  }
  75% {
    margin-left: 39px;
    margin-top: 1px;
  }
  100% {}
}
.b-bug{
  width: 70px;
  margin-left: 75px;
  margin-top:10px;
  animation-name: b-bug;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes b-bug {
  0%   {}
  25% {
    margin-left: 80px;
    margin-top: 4px;
  }
  50% {
    margin-left: 70px;
    margin-top: -3px;
  }
  75% {
    margin-left: 77px;
    margin-top: 5px;
  }
  100% {}
}
.target .b-bug{
  margin-left: 75px;
  margin-top:10px;
  animation-name:x;
}
.u-word-bug{
  width:70px;
  margin-top:-125px;
}
.g-word-bug{
  width:70px;
  margin-left: 80px;
  margin-top:-125px;
}
#bugApp{
  display:none;
}


/* dog */
.dog{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
}
.dog-animation{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
  animation-name: dog;
  animation-duration: 0.4s;
}
@keyframes dog {
  0%   {width:218px;}
  50%  {width:234px; margin-left:495px; margin-top:65px;}
  100% {width:218px;}
}
.s-dog{
  width: 75px; 
  margin-left: 40px;
  animation-name: s-dog;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes s-dog {
  0%   {}
  25% {
    margin-left: 43px;
    margin-top: 4px;
  }
  50% {
    margin-left: 38px;
    margin-top: -2px;
  }
  75% {
    margin-left: 44px;
    margin-top: 1px;
  }
  100% {}
}
.d-dog{
  width: 65px;
  margin-left: 30px;
  animation-name: d-dog;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes d-dog {
  0%   {}
  25% {
    margin-left: 35px;
    margin-top: 4px;
  }
  50% {
    margin-left: 32px;
    margin-top: -2px;
  }
  75% {
    margin-left: 39px;
    margin-top: 1px;
  }
  100% {}
}
.h-dog{
  width: 70px;
  margin-left: 75px;
  margin-top:10px;
  animation-name: h-dog;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes h-dog {
  0%   {}
  25% {
    margin-left: 80px;
    margin-top: 4px;
  }
  50% {
    margin-left: 70px;
    margin-top: -3px;
  }
  75% {
    margin-left: 77px;
    margin-top: 5px;
  }
  100% {}
}
#dogApp{
  display:none; 
}
/* fox */
.fox{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
}
.fox-animation{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
  animation-name: fox;
  animation-duration: 0.4s;
}
@keyframes fox {
  0%   {width:218px;}
  50%  {width:234px; margin-left:495px; margin-top:65px;}
  100% {width:218px;}
}
#foxApp{
  display: none;
}
.f-fox{
  width: 70px;
  margin-left: 75px;
  margin-top:10px;
  animation-name: f-fox;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes f-fox {
  0%   {}
  25% {
    margin-left: 80px;
    margin-top: 4px;
  }
  50% {
    margin-left: 70px;
    margin-top: -3px;
  }
  75% {
    margin-left: 77px;
    margin-top: 5px;
  }
  100% {}
}
/* hen */
.hen{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
}
.hen-animation{
  width:218px;
  margin-left: 500px;
  margin-top:70px;
  margin-bottom: 0px;
  animation-name: hen;
  animation-duration: 0.4s;
}
@keyframes hen {
  0%   {width:218px;}
  50%  {width:234px; margin-left:495px; margin-top:65px;}
  100% {width:218px;}
}
#henApp{
  display: none;
}
.h-hen{
  width: 70px;
  margin-left: 75px;
  margin-top:10px;
  animation-name: h-hen;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes h-hen {
  0%   {}
  25% {
    margin-left: 80px;
    margin-top: 4px;
  }
  50% {
    margin-left: 70px;
    margin-top: -3px;
  }
  75% {
    margin-left: 77px;
    margin-top: 5px;
  }
  100% {}
}